.main {
    padding: 5rem 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .provider {
    display: flex;
    justify-content: flex-end;
  }

  .providerName {
    margin-right: 20px;
    border: solid;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .imgEth {
    width: 50px;
	height: 50px;
  }

  .button {
    border-radius: 10px;
    padding: 10px;
  }

  .footer {
    font-weight: bold;
    background-color: #20B2AA;
    text-align: center;
    height: 140px;
    padding: 0;
    margin:0;
    color: #03224c;
  }

  .logo{
    width: 50px;
    height: 50px;
  }